
@{
    ViewData["Title"] = "猜歌王";
}

<h2>猜歌王</h2>

<div class="content">
    <audio controls>
        <source src="" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <div>
        <button type="button" id="btnShowAns">答案</button>
        <button type="button" id="btnNextSong">下一首</button>
    </div>

    <div id="divSongsName">
        <p id="pSongsName" class="pWording"></p>
        <p id="pSingerName" class="pWording"></p>
    </div>
</div>